.J-static-page{
	overflow-x: hidden;
	box-sizing: border-box;
}
.header-top {
    background-color: #3e3a39;
    height: 36px;
    line-height: 36px;
    width: 100%;
	font: 12px/1.5 Helvetica, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}
.w1080 {
    margin: 0 auto;
    width: 1080px;
    height: 85px;
    position: relative;
}	
.header-top .fl {
    width: 300px;
}
.fl{
	float: left;
}
.menu {
    color: #fff;
    font: 16px/35px Helvetica, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
    letter-spacing: 3px;
}
.header-top .fr {
    margin: 0 auto;
}
.fr{
	float: right;
}
.header-top .fr li {
    float: left;
}
.titletop{
	height: 36px;
}
.titletop a, .titletop li {
    color: #fff !important;
}
.header-top .login {
    margin-right: 30px;
    margin-top: 8px;
}
.titletop .MT-DIV a {
    color: #333 !important;
}

.w1080 ul .MT-item {
    float: left;
    background-position: -5px 0;
    position: relative;
    z-index: 99;
}
.header-top .jiae1 {
    margin-right: 15px;
    margin-top: 8px;
}
.jiae1 img{
	width: 115px;
	height: 115px;
	box-sizing:border-box;
}
.MT-myul {
    padding: 5px;
    position: absolute;
    left: 120px;
    top: 0px;
}
.w1080 ul .MT-item div {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 35px;
    box-shadow: 0 0 4px rgba(0,0,0,.02),0 2px 5px rgba(0,0,0,.1);
}
.w1080 .MT-arrow {
    display: block;
    font-size: 0;
    height: 7px;
    position: absolute;
    top: -7px;
    width: 14px;
    margin-left: -7px;
    left: 50%;
    background: rgba(0, 0, 0, 0) url("http://www.jiae.com/static/images/MT_nav_logo_20131104.png") no-repeat scroll 0 -63px;
    }
.MT-DIV {
	text-align: center;
    position: absolute;
    top: 50px;
    transition: all 0.3s ease 0s;
    display: none;
    /*visibility: hidden;*/
    /*opacity: 0;*/
}
/*.w1080 ul .MT-item:hover div {
    visibility: visible;
    opacity: 1;
}*/
.MT-my{
	/*display: block;*/
	text-align: center;
	width: 200px;
	left: -50px;
}
.logo, .MT-DIV img {
    padding: 15px;
}
.w1080 ul .MT-item div a {
    width: 86%;
    margin: 0 auto;
    height: 40px;
    line-height: 25px;
    font-size: 12px;
    *zoom: 1;
}
.w1080 ul .MT-item a {
    text-align: center;
    text-decoration: none;
}
.header-top .arrow, .header-top .order-icon, .header-top .mobile-icon {
    display: inline-block;
    position: relative;
    top: 4px;
    width: 16px;
}
address, caption, cite, code, dfn, em, i, th, var {
    font-style: normal;
    font-weight: 400;
}
.header-top .arrow {
    background: rgba(0, 0, 0, 0) url("http://www.jiae.com/static/images/header-icons.png") no-repeat scroll 0 0;
    height: 12px;
    position: relative;
}
.header-top .jiae2 {
    margin-right: 15px;
    margin-top: 4px;
}
.header-top .order-icon {
    background: rgba(0, 0, 0, 0) url("http://www.jiae.com/static/images/header-icons.png") no-repeat scroll 0 -11px;
    height: 18px;
}
.header-top .jiae3 {
    margin-top: 3px;
}
.header-top .mobile-icon {
    background: rgba(0, 0, 0, 0) url("http://www.jiae.com/static/images/header-icons.png") no-repeat scroll 0 -31px;
    height: 19px;
}
.MT-mobile{
	width: 150px;
	text-align: center;
	margin-left: -50px;
	margin-top: 5px;
	color: #333 !important;
}
#p1 {
    padding: 5px;
    width: 140px;
    margin: 0 auto;
}

#p1 img{
	box-sizing: content-box;
	padding-bottom:0;
	width: 100px;
	height: 100px;
}

